body {
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    background: #000 url('https://gifdb.com/images/high/jdm-dazzling-red-mazda-rx7-driving-owsbfyzdb0votelh.gif') center center / cover no-repeat;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
 
  /* TOPO */
  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #111;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 20px;
  }
 
  .logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
 
  .logo-container img {
    width: 30px;
    height: 22px;
    object-fit: cover;
    border: 1px solid #fff;
    border-radius: 3px;
  }
 
  .logo {
    font-size: 34px;
    color: #ff3333;
    font-weight: bold;
    text-transform: uppercase;
  }
 
  .nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s;
  }
 
  .nav-links a:hover {
    color: #ff3333;
  }
 
  /* CONTAINER DO FORMULÁRIO */
  .login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }
 
  .login-box {
    background: #2c2c2c;
    padding: 40px 60px;
    border-radius: 12px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 20px rgb(255, 0, 0);
    animation: fadeInUp 1s ease;
  }
 
  .login-box h2 {
    margin-bottom: 25px;
    color: #ffffff;
  }
 
  .input-group {
    text-align: left;
    margin-bottom: 20px;
  }
 
  .input-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
  }
 
  .input-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    font-size: 16px;
  }
 
  /* BOTÃO */
  button {
    width: 100%;
    padding: 12px;
    background-color: #e30808;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
 
  button:hover {
    background-color: #1aff00;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 8px 4px white;
  }
 
  /* RODAPÉ */
  footer {
    text-align: center;
    background-color: #000;
    padding: 15px;
    font-size: 16px;
    border-top: 2px solid #ff3333;
    color: #777;
    margin-top: auto;
  }
 
  /* ANIMAÇÃO */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }